/* body */
body {
    margin:0;
    font-family: sans-serif;
}

p {
    display: block;
    font-size: 16px;
    margin-block-start: 1em; /*這啥*/
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* nav */
nav {
    background-color:#373737;
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0px;
    left: 0px;
}

nav > div {
    display: inline-block;
    margin: 0px;
}

.nav-title {
    font-size: 20px;
    color: white;
    margin: 12px;
}

.nav-2, .nav-3 {
    font-size: 16px;
    color:#A3A5A7;
    margin: 5px;
}

/* header */

.header {
    background-color: #f4f4f4;
}

.wrapper {
    max-width: 960px;
    margin: 0px auto;
    padding: 42px 25px; 
}

.title {
    font-size: 66px;
}

.subtitle {
    font-size: 20px;
    color: rgb(77, 76, 76);
}

.btn-header {
    background-color: #c0b283;
    color: white;
    border-radius: 5px; 
    padding: 15px 30px;
    text-align: center;
    font-size: 20px;
}

.btn-header:hover {
    background-color:#bba24f;
    transition: background-color 0.3s ease-in;
}

/* passage */

.passage {  /*最外層*/
    max-width: 960px;  /*設定寬度*/
    margin: 0px auto;  /*設定auto才回置中*/
    padding: 42px 25px; /*設定padding拉出上下左右間距*/
    display: flex;  /*併排顯示*/
    flex-wrap: wrap;
}

.passage-wrapper {  /*裡面各個block*/ 
    flex: none;
    max-width: 30%; /*跟width有何不同*/
    margin: 0 auto;
}

@media (max-width:750px){
    .passage {
        padding-top: 22px;
    }
    .passage-wrapper {
        max-width: 100%;
        margin-top: 50px;
    }
    .footer {
        max-width: 90%;
    }
}

.passage-btn {
    background-color: #c0b283;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
}

.heading {
    font-size: 36px;
}

.passage-btn:hover {
    background-color: #bba24f;
    transition: background-color 0.3s ease-in;
}

/* footer */

.footer {
    max-width: 960px;  /*設定寬度*/
    margin: 0px auto;  /*設定auto才回置中*/
    padding: 0px 25px;   
}

footer {
    border-top: #E3E3E3 1px solid;
    padding: 20px 0;
}
